@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Open+Sans:wght@400;700&display=swap');
:root {
    --primaryColor: rgb(13, 106, 134);
    --primaryColorDark: rgb(8, 63, 80);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body{
    margin: 0;
    padding: 0;
    background: var(--primaryColor);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.3em;
}

.container{
    max-width: 640px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
    border-radius: 20px;
}

form input:focus {
    outline: 1px solid var(--primaryColor);
}

form button {
    border: none;
    background: var(--primaryColor);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    border-radius: 20px;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
}

form button:hover{
    background: var(--primaryColorDark);
}

.containerList{
    display: flex;
    
}

ul {
    padding: 0;
}

ul li {
    display: flexbox;
    list-style: none;
    padding-right: 100px;
    padding-bottom: 10px;
    text-align: left;
}

.subtitle{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
}

.paragraph-result, .bad{
    background: rgb(109, 255, 182);
    padding: 10px 20px;
}

.bad {
    background: rgb(233, 85, 85);
}